body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 235, 215);
    
    
}

header{
    padding: 0px 0px;
    color: white;
    background-color: rgb(43, 68, 108);
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
    margin-right: 20px; /* Espaçamento entre os itens da barra de navegação */
}

nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 13pt;
    white-space: nowrap; /* Impede a quebra de texto */
    padding: 10px; /* Adiciona um espaçamento interno aos itens */
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-wrap: nowrap; /* Impede que os itens quebrem para uma nova linha */
    }

    nav ul li {
        margin: 5px; /* Espaçamento menor entre os itens */
    }
}

/*Sections*/

#inicio h1{
    text-align: center;
    text-shadow: gray 10px 10px 8px;
    color: black;
    margin: 40px 0;
}

#inicio h3{
    text-align: center;
    margin: 30px 0;
    margin-left: 8px;
}

#serviços h4 ul li{
    list-style-type: none;
    margin-left: -30px;
}

#serviços{
    text-align: center;
}

#renato{
    text-align: center;
}

#contato{
    text-align: center;
    padding-bottom: 90px;
}

footer{
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(43, 68, 108);
    color: white;
    font-weight: bold;
    font-size: 18pt;
}

#renatorodapé{
    margin: 2px;
}

#kaféemoji{
    font-size: 32pt;
    margin: 0;
    text-shadow: 0px 0px 7px #e9e8e8;
}

#devkafeimg{
    height: auto;
    width: 140px;
    margin-top: -22px;
   
}

.containerflex{
    display: flex;
}

#logoinstagram{
    width: 60px;
    margin: 0px 100px 18px 33px;
}

#logogithub{
    width: 44px;
    margin: 0px 40px 27px -90px;
}


